html {
    width: 100%;
}

body {
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px dashed;
    padding-bottom: 1em;
}

.navbar a {
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    color: #31c2c2;
}

.logo {
    width: 25%;
    min-width: 200px;
    min-height: 200px;
}

.logo img {
    width: 100%;
}