@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.’fancy-button’ {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    margin: 1.22em 1.23em;
    border-radius: 0.35em;
    padding: 0.32em 0.95em 0.54em 1.02em;
    border: 0.035em #666 solid;
    background-color: #cbcbcb;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    box-shadow: 0 0.1rem 0.1rem 0 #606060, 0 0 0 0.23em #cbcbcb, 0 0 0 0.33em white, 0 0 0 0.4em, 0 -2.5em 3em -2em #adadad inset, 0 1.14em 0 #dedede inset;
    font-size: 1.6em;
    letter-spacing: 0.017em;
    transform: scaleY(0.973);
    text-shadow: 0 0.01em 0.05em whitesmoke;
}

.’fancy-button’::before {
    position: relative;
    top: 0.1em;
    left: -0.25em;
    content: "★";
    color: #888888;
    font-size: 1.3em;
}

.’fancy-button’::after {
    position: relative;
    top: 0.1em;
    left: 0.32em;
    content: "★";
    color: #888888;
    font-size: 1.3em;
}