.’fancy-button’ {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    margin: 2em;
    border-radius: 0.5em;
    padding: 0 0.2em 0.5em 0.2em;
    border: 0.1em #666 solid;
    background-color: #cbcbcb;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    color: #555555;
    box-shadow: 0 0.1em 0.1em 0 #666, 0 0 0 0.5em #cbcbcb, 0 0 0 0.7em white, 0 0 0 0.8em, 0 1.3em 0 #dcdcdc inset;
}

.’fancy-button’::before {
    position: relative;
    top: 0.1em;
    content: "★";
    margin-right: 0.2em;
    color: #888888;
    font-size: 2em;
}

.’fancy-button’::after {
    position: relative;
    top: 0.1em;
    content: "★";
    margin-left: 0.2em;
    color: #888888;
    font-size: 2em;
}